In [1]:
# Import packages
import pandas as pd
import numpy as np 
import requests 
import zipfile

### Import & examine crops & livestock production data

In [6]:
url = f'https://fenixservices.fao.org/faostat/static/bulkdownloads/Production_Crops_Livestock_E_All_Data_(Normalized).zip'
zip_file = 'Production_Crops_Livestock_E_All_Data_(Normalized).zip'
path = '/Users/margaritakostina/neuefische/MK-Capstone/capstone-envirolytics/data/' #insert own path here
csv_file = 'Production_Crops_Livestock_E_All_Data_(Normalized).csv'

In [7]:
r = requests.get(url)
with open(path+zip_file, 'wb') as f:
    f.write(r.content)

data = zipfile.ZipFile(path+zip_file, 'r')
data.extract(csv_file, path)

'/Users/margaritakostina/neuefische/MK-Capstone/capstone-envirolytics/data/Production_Crops_Livestock_E_All_Data_(Normalized).csv'

In [15]:
# Import crops & livestock data for all countries
production = pd.read_csv(path+csv_file, encoding='latin-1', low_memory=False)

In [16]:
production.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
0,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1975,1975,ha,0.0,E,NaN
1,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1976,1976,ha,5900.0,E,NaN
2,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1977,1977,ha,6000.0,E,NaN
3,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1978,1978,ha,6000.0,E,NaN
4,2,'004,Afghanistan,221,'01371,"Almonds, in shell",5312,Area harvested,1979,1979,ha,6000.0,E,NaN

In [17]:
production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3761168 entries, 0 to 3761167
Data columns (total 14 columns):
 #   Column           Dtype
---  ------           -----
 0   Area Code        int64
 1   Area Code (M49)  object
 2   Area             object
 3   Item Code        int64
 4   Item Code (CPC)  object
 5   Item             object
 6   Element Code     int64
 7   Element          object
 8   Year Code        int64
 9   Year             int64
 10  Unit             object
 11  Value            float64
 12  Flag             object
 13  Note             object
dtypes: float64(1), int64(5), object(8)
memory usage: 401.7+ MB

In [18]:
# Check for full duplicates
production.duplicated().value_counts()

False    3761168
Name: count, dtype: int64

In [19]:
# Check for NAs
production.isnull().value_counts()

Area Code  Area Code (M49)  Area   Item Code  Item Code (CPC)  Item   Element Code  Element  Year Code  Year   Unit   Value  Flag   Note
False      False            False  False      False            False  False         False    False      False  False  False  False  True     3673453
                                                                                                                                    False      87715
Name: count, dtype: int64

In [20]:
# List unique values in the Note column
print(production["Note"].unique())

# Drop the 'Note' column as it does not contain relevant info
production = production.drop(columns = 'Note')

[nan 'Unofficial figure']

'Year Code' and 'Year' columns contain the same data, so we can drop one of them.

In [21]:
# Drop 'Year code' column
production = production.drop(columns = 'Year Code')

### Import emissions from crops data

In [22]:
url = f'https://fenixservices.fao.org/faostat/static/bulkdownloads/Emissions_crops_E_All_Data_(Normalized).zip'
path = '/Users/margaritakostina/neuefische/MK-Capstone/capstone-envirolytics/data/' #insert own path here
zip_file = 'Emissions_crops_E_All_Data_(Normalized).zip'
csv_file = 'Emissions_crops_E_All_Data_(Normalized).csv'

In [23]:
r = requests.get(url)
with open(path+zip_file, 'wb') as f:
    f.write(r.content)

data = zipfile.ZipFile(path+zip_file, 'r')
data.extract(csv_file, path)

'/Users/margaritakostina/neuefische/MK-Capstone/capstone-envirolytics/data/Emissions_crops_E_All_Data_(Normalized).csv'

In [25]:
# Import crops emissions data for all countries
emissions_crops = pd.read_csv(path+csv_file, encoding='latin-1', low_memory=False)

In [26]:
emissions_crops.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Source Code,Source,Unit,Value,Flag,Note
0,2,'004,Afghanistan,44,'0115,Barley,72430,Crops total (Emissions N2O),1961,1961,3050,FAO TIER 1,kt,0.1141,E,NaN
1,2,'004,Afghanistan,44,'0115,Barley,72430,Crops total (Emissions N2O),1962,1962,3050,FAO TIER 1,kt,0.1141,E,NaN
2,2,'004,Afghanistan,44,'0115,Barley,72430,Crops total (Emissions N2O),1963,1963,3050,FAO TIER 1,kt,0.1141,E,NaN
3,2,'004,Afghanistan,44,'0115,Barley,72430,Crops total (Emissions N2O),1964,1964,3050,FAO TIER 1,kt,0.1145,E,NaN
4,2,'004,Afghanistan,44,'0115,Barley,72430,Crops total (Emissions N2O),1965,1965,3050,FAO TIER 1,kt,0.1145,E,NaN

### Import emissions from livestock data

In [27]:
url = f'https://fenixservices.fao.org/faostat/static/bulkdownloads/Emissions_livestock_E_All_Data_(Normalized).zip'
path = '/Users/margaritakostina/neuefische/MK-Capstone/capstone-envirolytics/data/' #insert own path here
zip_file = 'Emissions_livestock_E_All_Data_(Normalized).zip'
csv_file = 'Emissions_livestock_E_All_Data_(Normalized).csv'

In [28]:
r = requests.get(url)
with open(path+zip_file, 'wb') as f:
    f.write(r.content)

data = zipfile.ZipFile(path+zip_file, 'r')
data.extract(csv_file, path)

'/Users/margaritakostina/neuefische/MK-Capstone/capstone-envirolytics/data/Emissions_livestock_E_All_Data_(Normalized).csv'

In [29]:
# Import crops emissions data for all countries
emissions_livestock = pd.read_csv(path+csv_file, encoding='latin-1', low_memory=False)

In [30]:
emissions_livestock.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Source Code,Source,Unit,Value,Flag,Note
0,2,'004,Afghanistan,1107,'02132,Asses,5111,Stocks,1961,1961,3050,FAO TIER 1,An,1300000.0,A,NaN
1,2,'004,Afghanistan,1107,'02132,Asses,5111,Stocks,1962,1962,3050,FAO TIER 1,An,851850.0,A,NaN
2,2,'004,Afghanistan,1107,'02132,Asses,5111,Stocks,1963,1963,3050,FAO TIER 1,An,1001112.0,A,NaN
3,2,'004,Afghanistan,1107,'02132,Asses,5111,Stocks,1964,1964,3050,FAO TIER 1,An,1150000.0,E,NaN
4,2,'004,Afghanistan,1107,'02132,Asses,5111,Stocks,1965,1965,3050,FAO TIER 1,An,1300000.0,A,NaN