# cleaning the data:
# # [faostat] emissions intensities

In [2]:
import pandas as pd

import _functions_sql as fs
import _functions_data_files as fdf

source_dir = 'faostat_emi_int'

## import from CSV & general overview

In [3]:
file_name = 'Environment_Emissions_intensities_E_All_Data_(Normalized).csv'
# define converters for 'read_csv' & import file
conv = {
    'Note': str # handle DtypeWarning not using 'low_memory=False' (deprecated)
                # so missing values are now read as empty string ('')
}
df_prod = pd.read_csv(
      fdf.get_file_path(file_name, source_dir)
    , encoding='latin-1' # content is not UTF-8 compatible :TODO: :FIXME: ???
    , converters=conv
)

In [4]:
df_prod.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,'004,Afghanistan,1718,'F1718,Cereals excluding rice,71761,Emissions intensity,1961,1961,kg CO2eq/kg,0.1130,E
1,2,'004,Afghanistan,1718,'F1718,Cereals excluding rice,71761,Emissions intensity,1962,1962,kg CO2eq/kg,0.1149,E
2,2,'004,Afghanistan,1718,'F1718,Cereals excluding rice,71761,Emissions intensity,1963,1963,kg CO2eq/kg,0.1205,E
3,2,'004,Afghanistan,1718,'F1718,Cereals excluding rice,71761,Emissions intensity,1964,1964,kg CO2eq/kg,0.1154,E
4,2,'004,Afghanistan,1718,'F1718,Cereals excluding rice,71761,Emissions intensity,1965,1965,kg CO2eq/kg,0.1144,E

In [5]:
df_prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399410 entries, 0 to 399409
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Area Code        399410 non-null  int64
 1   Area Code (M49)  399410 non-null  object
 2   Area             399410 non-null  object
 3   Item Code        399410 non-null  int64
 4   Item Code (CPC)  399410 non-null  object
 5   Item             399410 non-null  object
 6   Element Code     399410 non-null  int64
 7   Element          399410 non-null  object
 8   Year Code        399410 non-null  int64
 9   Year             399410 non-null  int64
 10  Unit             399410 non-null  object
 11  Value            399410 non-null  float64
 12  Flag             399410 non-null  object
dtypes: float64(1), int64(5), object(7)
memory usage: 39.6+ MB

In [6]:
df_prod['Year'].max()

2021