# [FAO] detailed trade matrix

In [1]:
import pandas as pd
import numpy as np
import re as re

import _functions_sql as fs
import _functions_data_files as fdf

source_dir = 'fao_trade_matrix'
source_file = 'Trade_DetailedTradeMatrix_E_All_Data_(Normalized).csv'

## import from CSV & show general information

In [2]:
# import raw data into a pandas dataframe
df_raw = pd.read_csv(
      fdf.get_path(source_file, source_dir)
    , encoding='latin-1'
    , converters={'Note': str} # handle DtypeWarning without 'low_memory=False' 
)

In [3]:
# show first data rows
df_raw.head()

,Reporter Country Code,Reporter Country Code (M49),Reporter Countries,Partner Country Code,Partner Country Code (M49),Partner Countries,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
0,2,'004,Afghanistan,4,'012,Algeria,230,'21424,"Cashew nuts, shelled",5910,Export Quantity,2016,2016,t,3.0,X
1,2,'004,Afghanistan,4,'012,Algeria,230,'21424,"Cashew nuts, shelled",5922,Export Value,2016,2016,1000 USD,23.0,X
2,3,'008,Albania,3,'008,Albania,828,'25020.01,Cigarettes,5610,Import Quantity,2004,2004,t,12.0,A
3,3,'008,Albania,3,'008,Albania,828,'25020.01,Cigarettes,5622,Import Value,2004,2004,1000 USD,104.0,A
4,4,'012,Algeria,2,'004,Afghanistan,231,'21422,"Almonds, shelled",5610,Import Quantity,2005,2005,t,3.0,A

In [4]:
# show table summary
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159659 entries, 0 to 49159658
Data columns (total 16 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Reporter Country Code        int64
 1   Reporter Country Code (M49)  object
 2   Reporter Countries           object
 3   Partner Country Code         int64
 4   Partner Country Code (M49)   object
 5   Partner Countries            object
 6   Item Code                    int64
 7   Item Code (CPC)              object
 8   Item                         object
 9   Element Code                 int64
 10  Element                      object
 11  Year Code                    int64
 12  Year                         int64
 13  Unit                         object
 14  Value                        float64
 15  Flag                         object
dtypes: float64(1), int64(6), object(9)
memory usage: 5.9+ GB

In [5]:
# show full duplicates
df_raw.duplicated().value_counts()

False    49159659
Name: count, dtype: int64

In [6]:
# show null values
df_raw.isnull().value_counts()

Reporter Country Code  Reporter Country Code (M49)  Reporter Countries  Partner Country Code  Partner Country Code (M49)  Partner Countries  Item Code  Item Code (CPC)  Item   Element Code  Element  Year Code  Year   Unit   Value  Flag
False                  False                        False               False                 False                       False              False      False            False  False         False    False      False  False  False  False    49159659
Name: count, dtype: int64

In [11]:
# show time span of rows
sorted(df_raw['Year'].unique())

[1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022]